sudo: required
services:
  - docker

before_install:
  - docker build -t fangyunyi/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true fangyunyi/docker-react npm run test

deploy:
  edge: true
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-1-576526910991"
  bucket_path: "docker-react"
  access_key_id: $aws_access_key_id
  secret_access_key: $aws_secret_access_key
  on:
    branch: master

language: generic
